@model Covid.Models.Dataset

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dataset</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.day)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.month)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cases)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cases)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deaths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deaths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.countriesAndTerritories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.countriesAndTerritories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.geoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.geoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.countryterritoryCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.countryterritoryCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.popData2018)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.popData2018)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContinentExp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContinentExp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
